

.ContainerPensando {
  display: flex;
  gap: 1.5rem;             
  padding-left: 2rem;      
  padding-right: 2rem;
  padding-top: 1.5rem;     
  padding-bottom: 1.5rem;
  border-bottom: 2px solid #111827; 
}

.ContainerPensando img {
  width: 2.5rem;  
  height: 2.5rem;
  border-radius: 9999px; 
  gap: 0.5rem; 
  padding: 1.5rem;
  background-color: #222; 
}

.ContainerEnquadro {
  width: 3rem;          
  height: 3rem;
  border-radius: 9999px;   
}

.ContainerSimples {
  flex: 1;                  
}

.CampoEditavel {
  min-height: 3.5rem;  
  outline: none;       
  font-size: 1.125rem; 
  color: #ffffff; 
}

.CampoEditavel:empty:before {
  content: "O que está acontecendo?";
  color: #6B7280; 
  pointer-events: none; 
}


.ContainerDaImagem {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  margin-top: 0.5rem;             
}

.ContainerDoIconeImg {
  cursor: pointer;        
}

.ContainerTamanho {
  width: 1.5rem;            
  height: 1.5rem;
}

.ContainerLargura {
  width: 7rem;              
}


.Containerbotaocoments {
  margin-left: auto;   
  width: 7rem;
}


.Containercomentarios2 {
  background-color: transparent;
  border: 1px solid #1bb537;
  display: flex;
  max-width: 640px;
  width: 100%;
  gap: 1.5rem;             
  padding-top: 1.5rem;     
  padding-bottom: 1.5rem;
  margin-top: 30px;
}

.Containermeuavatar {
  width: 40px;
  height: 40px ;
  border-radius: 50% ;
  object-fit: cover ;
  display: block ;
  margin-top: 5px;
}

.ContainerDaImagemcoments {
  display: flex;       
  align-items: center; 
}

.comments-section {
  color: #ffffff;
  margin-top: 10px;
  padding: 5px;

}
.comment-item {
  margin-bottom: 50px;
  border: 1px solid #fff
}

.Coments-containerR1{
  background-color: transparent;
  color: #f8f8f8;
  margin-top: 10px;
  padding: 5px;
}

.Coments-container-items{
  background-color: transparent;
  padding: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #5b5f60;
  border-top: 1px solid #5b5f60;
}

