.container{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
}

.icon1{
    width: 24px;
}


.container2{
    font-size: 1.125rem;
}