
.containerJ1 {
    font-weight: 700;      
    font-size: 1.125rem;   
}


.containerJ2 {
    border-top: 2px solid #111827; 
}


.containerJ3 {
    border-top: 8px solid #111827;  
    border-bottom: 8px solid #111827; 
}
